@whiteTileBackground: #fff;
@blackTileBackground: #000;
@whiteStrokeColor: #fff;
@blackStrokeColor: #bbb;
@borderColor: #777;
@cellSize: 4rem;
@fontSize: 3rem;

* {
  user-select: none;
}

body {
  display: grid;
  grid-template-areas:
    "menu menu menu"
    "game game side"
    "game game side"
  ;
  background: #000;
}

.Dialog {
  color: white;
}

#game {
  grid-area: game;
  padding: 4em 0 0 4em;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
}

#leftTray, #rightTray {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
  min-width: @fontSize;
}
#rightTray {
  flex-direction: column-reverse;
}

#sidebar {
  grid-area: side;
}

menu {
  grid-area: menu;
}

.Board.perspective {
  perspective: 100vw;
  table {
    transform: rotateX(5deg);
    transition: transform 500ms;
  }
  table:hover {
    transform: rotateX(0deg);
  }
}

.Board {
  table {
    box-shadow: 0 0 4em #777;
  }
  table::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(
    circle at 20% 20%,
    rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)
    );
  }

  tr {
    td {
      border: 1px solid @borderColor;
      width: @cellSize;
      height: @cellSize;
      text-align: center;
      font-size: @fontSize;
      position: relative;
      line-height: 1.2em;
    }
    td::before {
    content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: radial-gradient(
      circle at 20% 20%,
      rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)
      );
    }
    td:nth-child(even) {
      background: @whiteTileBackground;
    }
    td:nth-child(odd) {
      background: @blackTileBackground;
    }
    td.targetTile {
      border: 1px dashed red;
    }
  }
  tr:nth-child(odd) {
    td:nth-child(odd) {
      background: @whiteTileBackground;
    }
    td:nth-child(even) {
      background: @blackTileBackground;
    }
  }
}

.Piece {
  display: inline-block;
  position: relative;
  font-size: @fontSize;
}
.Piece.black {
  text-shadow: -1px -1px 0 @blackStrokeColor,  1px -1px 0 @blackStrokeColor, -1px 1px 0 @blackStrokeColor, 1px 1px 0 @blackStrokeColor, -2px -2px 0 @blackStrokeColor,  2px -2px 0 @blackStrokeColor, -2px 2px 0 @blackStrokeColor, 2px 2px 0 @blackStrokeColor, -3px -3px 0 @blackStrokeColor,  3px -3px 0 @blackStrokeColor, -3px 3px 0 @blackStrokeColor, 3px 3px 0 @blackStrokeColor
}
.Piece.white {
  text-shadow: -1px -1px 0 @whiteStrokeColor,  1px -1px 0 @whiteStrokeColor, -1px 1px 0 @whiteStrokeColor, 1px 1px 0 @whiteStrokeColor, -2px -2px 0 @whiteStrokeColor,  2px -2px 0 @whiteStrokeColor, -2px 2px 0 @whiteStrokeColor, 2px 2px 0 @whiteStrokeColor, -3px -3px 0 @whiteStrokeColor,  3px -3px 0 @whiteStrokeColor, -3px 3px 0 @whiteStrokeColor, 3px 3px 0 @whiteStrokeColor
}
.Piece::after {
  position: relative;
  left: 0;
  top: 0;
}
.Queen {
  .Piece();
  order: 1;
}
.Queen.black::after {
  content: '♛';
}
.Queen.white::after {
  content: '♕';
}
.King {
  .Piece();
  order: 0;
}
.King.black::after {
  content: '♚';
}
.King.white::after {
  content: '♔';
}
.Bishop {
  .Piece();
  order: 2;
}
.Bishop.black::after {
  content: '♝';
}
.Bishop.white::after {
  content: '♗';
}
.Knight {
  .Piece();
  order: 3;
}
.Knight.black::after {
  content: '♞';
}
.Knight.white::after {
  content: '♘';
}
.Rook {
  .Piece();
  order: 4;
}
.Rook.black::after {
  content: '♜';
}
.Rook.white::after {
  content: '♖';
}
.Pawn {
  .Piece();
  order: 5;
}
.Pawn.black::after {
  content: '♟';
}
.Pawn.white::after {
  content: '♙';
}
